body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1920px;
    margin: auto;
}
.container{
    margin: auto;
}
.header {
    display: flex;
    height: 8rem;
    padding: 0 2rem;
    background-color: grey;
    align-items: center;
    border-bottom: 1px solid black;
    position: relative;
}

.menu{
    display: flex;
    justify-content: flex-end;
}

.menu ul{
    display: flex;
    margin: 1rem;
    list-style-type: none;  
}

.menu ul li{
    padding: 0 8px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu a:hover{
    color: white;
}

.header .logo img{
    max-width: 80%;
    max-height: 80%;
}

.slideContainer {
    position: relative;
    max-width: 1920px;
    max-height: 1080px;
    margin-bottom: 1rem;
}

.slide img{
    width: 100%;
    height: auto;
}

.slide{
    display: none;
}

.arrows{
    position: absolute;
    cursor: pointer;
    font-size: 3rem;
    top: calc(50% - 32px);
}

.prev{
    margin-left: .5rem;
}
.next{
    right: 0;
    margin-right: .5rem;
}

.slideNumber {
    font-size: 2rem;
    position: absolute;
    background-color: transparent;
    margin: 1rem 0 0 1rem;
}

.slideDescription {
    position: absolute;
    bottom: 0;
    background-color: wheat;
    left: 50%;
    transform: translateX(-50%);
}

.cardContainer{
    position: relative;
    display: flex;
    padding: 2rem 0 2rem 0;
    overflow: hidden;
}

.card:not(:first-child){
    margin-left: 1rem;
}

.card{
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid;
    max-width: 400px;
    max-height: 600px;
    padding: 0 1rem 1rem;
}

.card img{
    max-width: 400px;
    max-height: 600px;
}

.productCardContainer{
    position: relative;
    overflow: hidden;
    width:300px;
}

.card-context {
    position: relative;
    display:flex;
    transition:left .2s linear;
}

.card-context img {
    display:block;
    width:300px;
}

.navbarItems{
    list-style-type: none;
    display: flex;
}

.navbarItems li{
    border-radius: .375rem;
}

.navbarItems li:hover{
    cursor: pointer;
    background-color: white;
}

.navbarItems a{
    float: left;
    text-decoration: none;
    color: black;
    margin: 0.5rem;
}

.menuBranch{
    background-color: white;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 200px;
    top: 100%;
    z-index: 1;
    border: 0.5px solid;
}

.navbarItems li:hover .menuBranch {
    display: flex;
}

.searchContainer{
    background-color: white;
    border: 1px solid;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    z-index: 2;
    margin-top: 45px;
}

.searchBox{
    align-items: center;
    display: flex;
    height: 30%;
    padding: 0px 8px;
}

.searchInput{
    width: 100%;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.searchInput::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 1rem;
}

.searchInput:focus{
    outline: 0;
}

button{
    border: 0;
    cursor: pointer;
    background: transparent;
}

button .fa-solid{
    width: 22px;
    font-size: 18px;
}

.resultBox{
    max-height: 250px;
    overflow-y: scroll;
}

.resultBox ul{
    list-style: none;
    padding: 0 4px;
    margin: auto;
}

.resultBox ul li{
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}

.resultBox ul li:hover{
    background: #e9f3ff;
}

.footer{
    height: auto;
    background-color: #f4f4f4;
}

.footerCategories{
    display: grid;
    width: 500px;
    grid-template: 100% / 1fr 1fr;
    grid-gap: 1rem;
}

.footerCategories ul{
    list-style: none;
}

.footerCategories ul li{
    padding-bottom: 8px;
}

.footerCategories a {
    cursor: pointer;
}

.footerCategories a:hover {
    text-decoration: underline;
}
.footerCopyright{
    height: 3rem;
    width: 100%;
}

.footerCopyright p{
    font-weight: bold;
    font-size: 1rem;
    background-color: #6d6c70;
    margin: 0;
}

/*
    Contact Page CSS
*/
.registerContainer{
    display: flex;
    justify-content: center;
}

.registerForm{
    padding: 1rem;
    width: 33%;
    max-width: 400px;
    margin: 1em;
    display: flex;
    height: auto;
    flex-direction: column;
    border: solid;
}

.registerForm input{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    padding-left: 0.5rem;
    border: 1px solid;
}

.registerForm input:focus{
    outline: 0;
}

.registerForm input::placeholder{
    font-size: 12px;
}

.registerForm input[type=submit]{
    width: 50%;
    cursor: pointer;
    align-self: end;
}

/*
    About Us Page
*/

.infoCardContainer{
   display: flex;
   max-width: 1640px;
   margin: auto;
   padding: 1rem 0;
   gap: 1rem;
   flex-wrap: wrap;
}

.infoCard{
    box-sizing: border-box;
    padding: 1rem;
    max-width: 368px;
    border-radius: 1rem;
    border: 1px solid;   
    cursor: pointer;
    overflow: visible;
}

.infoCard h2, p{
    display: flex;
}

.infoCardImage img{
    width: 100%;
    height: auto;
}

.infoCard:hover .cardButton{   
    opacity: 1;
    visibility: visible;
}

.cardButton {
    opacity: 0;
    transition: 0.3s linear;
    visibility: hidden;
    margin:  0px -1rem -1rem -1rem;
    font-size: 1.2rem;
    display: flex;
    font-weight: bold;
    align-content: center;
    justify-content: center;
    color: white;
    border-radius: 0 0 1rem 1rem;
    background-color: black;
    align-items: center;
    height: 2.5rem;
}